@import "../../styles/variables.scss";


:global {
  .link {
    color: green;
  }
}

.avatar {
    background: $color-black02;
    text-align: center;
    padding: 25px 20px;
}

.title {
    margin: 0 0 21px;
    color: $color-white;
}

.description {
    color: $color-white;
    margin: 0 0 20px;
}

.search {
    color: $color-white;
    border: 1px solid $color-white;
    padding: 7px 30px;
    transition: all .2s;

    &:hover {
        color: $color-black02;
        background: $color-white;
    }
}

